.register-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .register-button:hover {
    background-color: #333;
  }
  